@page "{restaurantId}"
@model FoodService.Web.Pages.Restaurants.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Restaurant.Name</h1>
<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Cuisine: @Model.Restaurant.Cuisine
</div>
<a asp-page="./List" class="btn btn-primary">All Restaurants</a>